<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_dash.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    <div class="container">
        <!-- Top Navbar -->
       
        <div class="sidebar">
            <div class="user-info">
                <!-- Container chứa ảnh và input -->
                <div class="profile-img-container">
                    <!-- Label giúp ảnh trở thành nút bấm -->
                    <label for="upload-avatar">
                        <img 
                            src="{{ url_for('static', filename=user_info.avatar_url or 'doremon.png') }}" 
                            alt="User Profile" 
                            class="profile-img" 
                            title="Bấm vào để cập nhật ảnh đại diện">
                    </label>
                    <!-- Input file được ẩn -->
                    <input 
                        type="file" 
                        id="upload-avatar" 
                        name="avatar" 
                        accept="image/*" 
                        style="display: none;" 
                        onchange="uploadAvatar()">
                </div>
                <!-- Thông tin người dùng -->
                <div class="user-details">
                    <p class="user">{{ user_info.full_name }}</p>
                    <p class="email">{{ user_info.email }}</p>
                    <p class="email">{{ user.role }}</p>
                </div>
            </div>
            
            <hr>
            <ul class="nav">
                {% if user.role == 'admin' %}
                <li><a  href="/admin"><i class='bx bxs-id-card'></i><span>Dash Board</span></a></li>
                <li><a  href="/admin_manager"><i class='bx bxs-id-card'></i><span>User Manager</span></a></li>
                {% elif user.role == 'student' %}
                <li><a   class="active" href="/home"><i class='bx bxs-id-card'></i><span>Home</span></a></li>
                <li><a  href="/search_classes"><i class='bx bxs-file-find' ></i><span>Search Class</span></a></li>
                <li><a  href="/my_class"><i class='bx bxs-file-find' ></i><span>My Class</span></a></li>
                {% elif user.role == 'lecturer' %}
                <li><a href="/lecturer"><i class='bx bxs-id-card'></i><span>Dash Lecturer</span></a></li>
                {% endif %}
                <li><a  href="/upload"><i class='bx bxs-cloud-upload' ></i><span>Upload</span></a></li>
                <li><a   href="/convert"><i class='bx bx-transfer' ></i><span>Convert</span></a></li>
                <li><a   href="/view"><i class='bx bxs-book-reader' ></i><span>View</span></a></li>
              
                <li><a  href="/search"><i class='bx bxs-file-find' ></i><span>Search</span></a></li>
                <li><a   href="/information"><i class='bx bxs-user-account' ></i><span>Update Profile</span></a></li>
                <li><a   href="/change_pass"><i class='bx bxs-user-account' ></i><span>Forgot Password</span></a></li>
                <li><a   class="nav-item nav-link" id="logout" href="/logout"><i class='bx bx-log-out' ></i><span>Logout</span></a></li>
            </ul>
        </div>
       
        <div class="menu-content">
            <div class="top-navbar">
                <div class="top-navbar-right"> 
                </div>
            </div>
            <div class="navbar">
                <div class="navbar-left"> 
                    <p class="school"><i class='bx bxs-graduation' ></i>Danang University of Technology</p>
                    <p class="note">First Term - 2024/2025 Session</p>
                </div>
                <div class="navbar-right"> 
                    <p class="home"><i class='bx bxs-home'></i>/Home</p>
                </div>
            </div>
            <div class="main-file">
                <div class="header">
                    <div class="upload-section">
                        <p>File đã up load</p>
                        <div class="center">
                            <div class="upload-item">
                                <img src="{{ user_avatar_url or url_for('static', filename='images/word.png') }}" alt="Uploaded File 1">
                                <span class="count">{{word}}</span> <!-- Số lượng dưới ảnh -->
                            </div>
                            <div class="upload-item">
                                <img src="{{ user_avatar_url or url_for('static', filename='images/pdf.png') }}" alt="Uploaded File 2">
                                <span class="count">{{pdf}}</span> <!-- Số lượng dưới ảnh -->
                            </div>
                        </div>
                    </div>
                    <div class="convert-section">
                        <p>File đã convert</p>
                        <div class="convert-item">
                            <img src="{{ user_avatar_url or url_for('static', filename='images/pdf.png') }}" alt="Converted File">
                            <span class="count">{{convert}}</span> <!-- Số lượng dưới ảnh -->
                        </div>
                    </div>
                </div>
                <ul class="menu">
                    <li><a href="/home"><span>Home</span><img src="{{ user_avatar_url or url_for('static', filename='images/home.png') }}" alt=""></a></li>
                    <li><a href="/upload"><span>Upload</span><img src="{{ user_avatar_url or url_for('static', filename='images/convert.png') }}" alt=""></a></li>
                    <li><a href="/convert"><span>Convert</span><img src="{{ user_avatar_url or url_for('static', filename='images/upload.png') }}" alt=""></a></li>
                    <li><a href="/view"><span>View</span><img src="{{ user_avatar_url or url_for('static', filename='images/review.png') }}" alt=""></a></li>
                    <li><a href="/search"><span>Search</span><img src="{{ user_avatar_url or url_for('static', filename='images/search.png') }}" alt=""></a></li>
                    <li><a href="/information"><span>Update Profile</span><img src="{{ user_avatar_url or url_for('static', filename='images/profile.png') }}" alt=""></a></li>
                    <li><a href="/change_pass"><span>Forgot Password</span><img src="{{ user_avatar_url or url_for('static', filename='images/forgot.png') }}" alt=""></a></li>
                    <li><a class="nav-item nav-link" id="logout" href="/logout"><span>Logout</span><img src="{{ user_avatar_url or url_for('static', filename='images/out.png') }}" alt=""></a></li>
                </ul>
            </div>

          
            
        </div>
       
    </div>
    <script>
        function uploadAvatar() {
            // Lấy thẻ input
            const fileInput = document.getElementById('upload-avatar');
            const file = fileInput.files[0]; // Lấy file được chọn
    
            if (!file) {
                alert("Hãy chọn một file!");
                return;
            }
    
            // Chuẩn bị dữ liệu để gửi
            const formData = new FormData();
            formData.append('avatar', file);
    
            // Gửi file tới server qua Fetch API
            fetch('/update-avatar', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Ảnh đại diện đã được cập nhật!');
                    location.reload(); // Reload lại trang để hiển thị ảnh mới
                } else {
                    alert('Cập nhật ảnh đại diện thất bại! ' + data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Đã xảy ra lỗi khi cập nhật ảnh đại diện!');
            });
        }
    </script>
    
</body>
</html>



